&spi1 {

    cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>; // CS pin for SPI1

    mysensor: bme680@0 {
        compatible = "bosch,bme680";
        spi-max-frequency = <10000000>;
        reg = <0>;  
        label = "BME680";
    };
    status = "okay";
};

